@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200;1,400;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--bg-primary);
  color: var(--color-primary);

}

.navbar {
  background-color: var(--bg-secondary);
  color: var(--color-secondary);
}

.logo span {
  color: orangered;
  font-size: 24px;

}

.logo a {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 400;
}

.logo a:hover {
  color: var(---color-primary);
  font-size: 24px;
  font-weight: 400;
}


.custom-link a {
  color: var(--color-primary);

  font-size: 20px;

}

.custom-link a:hover {
  color: var(--color-primary);
  font-size: 20px;

}

.custom-link span {

  opacity: 0;
}

.custom-link a:hover span {
  opacity: 1;
  color: orangered;
}

.navbar-nav .nav-link.active {
  color: orangered;
}

.navbar-nav .nav-link.active span {
  opacity: 0;
  color: var(--color-primary);
}
.headspan{
  font-weight: 400;
  font-size: 40px;
  color: #ff4500;
}


/* footer */

.footer-col{
  background-color: var(--bg-secondary);
  color: var(--color-primary);

}
.footer-col a{
  text-decoration: none;
}